#loginPanel {
  margin-left: auto;
  margin-right: auto;
  width: 760px;
  text-align: right;
}
#guestbook {
  margin-left: auto;
  margin-right: auto;
  width: 760px;
  text-align: left;
}
body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
  margin: 20px 0 20px 0;
  text-align: center;
}
